@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">School Management App</h1>
        <p>This is a demo website for lab06 - Software Engineer course</p>
        <p class="fw-bold">Check out my repository for this project</p>
        <p><a href="https://github.com/qchau0202/ASPNETWebAppMVCStudentApp" class="btn btn-primary btn-md">Github &raquo;</a></p>
    </section>

    <div class="row">
       
    </div>
</main>